.bg_color {
    background: #1C3B75;
  }
  
  .bg_login {
    background: #FFD96D  !important;
    color: #263238 !important;
    font-weight: bold !important;
    padding: 6px 20px !important;
    text-transform: capitalize;
    border-radius: 43px !important;
 
  }
  
  .links {
    text-decoration: none;
    color: #fff !important;
    margin: 0 10px; /* Add spacing between elements */
    transition: color 0.3s; /* Smooth transition for hover effect */
  }
  
  .links:hover {
    color: #659CFB!important; /* Hover effect color */
  }
  
  .navbar-nav .nav-link.active {
    color: #659CFB !important; /* Default active link color */
  }
  
  .button:hover {
    background: #FFD96D;
    color: #1C3B75;
  }
  