.header {
  width: 100% !important;
  padding: 0 !important; /* Ensure no padding around the header */
  margin: 0 !important; /* Ensure no margin around the header */
}

.custom-background {
  background-color: #1C3B75;
  width: 100% !important;
  color: #fff;
  padding: 0 !important; /* Ensure no padding around the header */
  margin: 0 !important; /* Optional: Add some padding for better spacing */
}

.container-fluid {
  padding: 0 !important;
}

.custom-background h1 {
  color: #fff; /* Keep the specific color for the h1 element */
}

.custom-background .text-secondary {
  color: #fff !important; /* Override the text-secondary class to be white */
}

.head_left {
  width: 598px;
  height: 263px;
  margin-top: 100px;
  margin-left: 97px;
  gap: 0px;
}

.custom-button {
  border: 2px solid #659CFB;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px; /* Makes the button rounded */
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.custom-button:hover {
  background: #659CFB;
  color: #fff;
}

.custom-button span {
  margin-left: 10px;
}

.custom-button i {
  font-size: 1.2em;
  color: #659CFB;
}

.custom-button:hover i {
  color: #fff;
}

.head_right {
  width: 857px;
  height: 544px;
  gap: 0px;
}

.head_right .imageContainer {
  width: 100%;
  height: 100%;
}

.head_right .imageContainer .head_rightImg {
  width: 90%;
  height: 90%;
  object-fit: cover;
  margin-right: 5px !important; /* Adjust the margin-right value as needed */
}

.curve {
  width: 8rem;
  height: 100%;
  object-fit: cover;
}

.starr {
  color: #FB9431;
}
