.verification-container {
  padding: 20px;
  text-align: center;
}
.capture-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content horizontally */
  gap: 10px; /* Adjust the spacing between items */
}

.capture-image {
  width: 80px; /* Adjust width as needed */
  height: auto;
  border-radius: 5px; /* Optional: Rounded corners for the image */
  margin-right: 10px; /* Space between image and button */
}

.capture-button {
  padding: 10px 20px;
  background-color: #1C3B75; /* Updated button color */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.capture-button:hover {
  background: #659CFB;
  color: #fff;
}